html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}


.text{
	height: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
.name{
	color: white;
	font-size: 800%;
	font-family: "Miratrix";
	margin: 0px;

}

@font-face {
font-family: "Miratrix"; 

src: url("font/Miratrix-Normal.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
.podname{
	color: white;
	font-family:  "Miratrix";
	margin: 0px;
	font-size: 200%;
}
a{
	text-decoration: none;
	color: white;
	transition: 0.5s linear;
}
.nav{
	height: 100px;
	margin: 0;
	width: 100px;
	color: white;
	font-size: 250%;
	font-family: "Miratrix"; 
	display: flex;
	flex-flow: column;
	padding: 40px;
	justify-content: space-between;
	
}
a:hover{
	color: red;
}
